<%- layout('layouts/main.ejs') %>

    <body class="fondo">
        <div class="container">
            <div class="logo">
            
            </div>
            <form class="formulario">
                <h1>Sistema de venta</h1>
                <h4>
                    <br>¡Bienvenido al sistema del Mini Súper!<br>
                    <br>Si ya tienes una cuenta, <a href="/signin">inicia sesión</a> sesión para comenzar<br> 
                    <br>¿Eres nuevo? <a href="/signup">Regístrate</a> para comenzar a gestionar tus productos, clientes y ventas de manera fácil y rápida.
                </h4>   
                    
            </form>
        </div>

    </body>